/******************** GENERAL ********************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*************** fonts ***************/

/* montserrat-regular - latin */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/montserrat/montserrat-v14-latin-regular.eot"); /* IE9 Compat Modes */
    src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("fonts/montserrat/montserrat-v14-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/montserrat/montserrat-v14-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
    url("fonts/montserrat/montserrat-v14-latin-regular.woff") format("woff"), /* Modern Browsers */
    url("fonts/montserrat/montserrat-v14-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/montserrat/montserrat-v14-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}

/* devonshire-regular - latin */
@font-face {
    font-family: "Devonshire";
    font-style: normal;
    font-weight: 400;
    src: url('fonts/devonshire/devonshire-v8-latin-regular.eot');/* IE9 Compat Modes */
    src: local("Devonshire-Regular"),
    url("fonts/devonshire/devonshire-v8-latin-regular.eot?#iefix") format("embedded-opentype"), /*IE6-IE8*/
    url("fonts/devonshire/devonshire-v8-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
    url("fonts/devonshire/devonshire-v8-latin-regular.woff") format("woff"), /* Modern Browsers */
    url("fonts/devonshire/devonshire-v8-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/devonshire/devonshire-v8-latin-regular.svg#Devonshire") format("svg"); /* Legacy iOS */
}

/* croissant-one-regular - latin */
@font-face {
    font-family: "Croissant One";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/croissant-one/croissant-one-v7-latin-regular.eot"); /* IE9 Compat Modes */
    src: local("Croissant One"), local('CroissantOne-Regular'),
    url("fonts/croissant-one/croissant-one-v7-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/croissant-one/croissant-one-v7-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
    url("fonts/croissant-one/croissant-one-v7-latin-regular.woff") format("woff"), /* Modern Browsers */
    url("fonts/croissant-one/croissant-one-v7-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/croissant-one/croissant-one-v7-latin-regular.svg#CroissantOne") format("svg"); /* Legacy iOS */
}

/* noto-serif-regular - latin */
@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/noto-serif/noto-serif-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Noto Serif'), local('NotoSerif'),
    url('/fonts/noto-serif/noto-serif-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/noto-serif/noto-serif-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/noto-serif/noto-serif-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/noto-serif/noto-serif-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/noto-serif/noto-serif-v8-latin-regular.svg#NotoSerif') format('svg'); /* Legacy iOS */
}

/* dancing-script-regular - latin */
@font-face {
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/dancing-script/dancing-script-v14-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
    url("fonts/dancing-script/dancing-script-v14-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/dancing-script/dancing-script-v14-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
    url("fonts/dancing-script/dancing-script-v14-latin-regular.woff") format("woff"), /* Modern Browsers */
    url("fonts/dancing-script/dancing-script-v14-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/dancing-script/dancing-script-v14-latin-regular.svg#DancingScript") format("svg"); /* Legacy iOS */
}

/* kaushan-script-regular - latin */
@font-face {
    font-family: "Kaushan Script";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/kaushan-script/kaushan-script-v8-latin-regular.eot"); /* IE9 Compat Modes */
    src: local("Kaushan Script"), local("KaushanScript-Regular"),
    url("fonts/kaushan-script/kaushan-script-v8-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/kaushan-script/kaushan-script-v8-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
    url("fonts/kaushan-script/kaushan-script-v8-latin-regular.woff") format("woff"), /* Modern Browsers */
    url("fonts/kaushan-script/kaushan-script-v8-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/kaushan-script/kaushan-script-v8-latin-regular.svg#KaushanScript") format("svg"); /* Legacy iOS */
}

/******************** BODY ********************/

body {
    display: flex;
    flex-direction: column;
}

.main-header, .main-footer, #soon {
    font-family: Montserrat, serif;
    background-color: #569C87;
    color: #F1C64C;
}

/*************** links ***************/

a {
    text-decoration: none;
}

/*************** headings ***************/

h1 {
    font-size: 70px;
    letter-spacing: -5px;
}

h1 a {
    color: #F1C64C;
}

h2 {
    font-weight: normal;
}

h3 {
    font-weight: normal;
}

h4 {
    font-size: 22px;
    text-align: center;
}

h4::after {
    display: block;
    content:"";
    width: 0;
    height: 2px;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

h4:hover::after {
    visibility: visible;
    width: 100%;
}

/******************** HEADER ********************/

.main-header {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/******************** MAIN ********************/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*************** Section menus ***************/

#menus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    width: 80%;
}

.menus__menu-item {
    box-shadow: 0 0 40px 5px #E2E2E2;
    width: 370px;
    height: 500px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.zoom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 1.5s;
    opacity: 1;
}

.zoom:hover {
    transform: scale(1.3);
    opacity: 0.3;
}

.menus__menu-title {
    margin-top: 15px;
    font-family: "Segoe Print", serif;
    font-size: 35px;
}

/********** menu note **********/

.icon-note {
    width: 30%;
}
.item-note {
    font-family: Devonshire, serif;
    font-size: 20px;
    color: #3D1319;
    background-color: #FCDFDB;
}

.item-note a {
    color: #3D1319;
}

.title-note {
    text-transform: uppercase;
    font-weight: bold;
}

/********** menu chic **********/

.item-chic {
    font-family: "Croissant One", serif;
    font-weight: bold;
    color: #E1891D;
    font-size: 15px;
    background-color: #FFF5FE;
}

.item-chic h2 {
    background: -webkit-linear-gradient(left top, #E1891D 20%, #AF77A5 60%, #A086DE 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-chic {
    font-family: "Noto Serif", serif;
}

/********** menu delice **********/

.item-delice {
    font-family: "Dancing Script", serif;
    font-size: 23px;
    background-color: #F9F9F9;
    color: #0887FB;
}

.item-delice h2 {
    background: -webkit-linear-gradient(left, #0228DD, #2782F2, #229DF9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/********** menu palette **********/

.item-palette {
    font-family: "Kaushan Script", serif;
    font-size: 20px;
    background-color: #FDFFFD;
    color: #73C058;
}

.item-palette h2 {
    background: -webkit-linear-gradient(left, #3F933A, #73C058, #BEFF7F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*************** Section soon ***************/

#soon {
    display: flex;
    font-size: 35px;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

#soon h3 {
    padding-right: 10px;
}

.dots {
    font-size: 50px;
    margin-bottom: 6px;
    padding-left: 5px;
    padding-right: 5px;

    animation-name: bounce;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.dots:nth-child(3) {
    animation-delay: 0.3s;
}

.dots:nth-child(4) {
    animation-delay: 0.6s;
}

@keyframes bounce {
    0% {
        transform: scale(1,1)
        translateY(0);
    }
    10% {
        transform: scale(1.1, 0.9)
        translateY(0);
    }
    30% {
        transform: scale(0.9,1.1)
        translateY(-15px);
    }
    60% {
        transform: scale(1.05, 0.95)
        translateY(0);
    }
    70% {
        transform: scale(1,1)
        translateY(0);
    }
    95% {
        transform: scale(1.1, 0.9)
        translateY(0);
    }
    100% {
        transform: scale(1.05,0.95)
        translateY(0);
    }
}

/******************** FOOTER ********************/

.main-footer {
    min-height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    bottom:0;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 80px;
}

.footer__button {
    color: #F1C64C;
    font-size: 30px;
    font-weight: bold;
}

.footer__button:hover {
    animation: wiggle 100ms ease-in-out 8 alternate;
}

@keyframes wiggle {
    from {
        transform: rotate(-3deg);
        transform-origin: center;
    }
    to {
        transform: rotate(3deg);
    }
}

/******************** DETAILED MENUS ********************/

.menu__menu-main-heading {
    font-family: Montserrat, serif;
    font-size: 40px;
    font-weight: bold;
    padding-top: 35px;
    padding-bottom: 25px;
}

.menu__menu-details-title {
    display: flex;
    justify-content: space-between;
}

/*************** Header detailed menus ***************/

.menu__menu-heading-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding-top: 85px;*/
    padding-bottom: 65px;
}

/********** header menu note **********/

header .icon-note {
    width: 80px;
}
.top-note h3 {
    font-family: Devonshire, serif;
    font-size: 50px;
}

/********** header menu chic **********/

.top-chic {
    font-family: "Croissant One", serif;
    font-size: 45px;
    background: -webkit-linear-gradient(left top, #E1891D 20%, #AF77A5 60%, #A086DE 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/********** header menu delice **********/

.top-delice {
    font-family: "Dancing Script", serif;
    font-size: 70px;
    background: -webkit-linear-gradient(left, #0228DD, #2782F2, #229DF9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/********** header menu palette **********/

.top-palette {
    font-family: "Kaushan Script", serif;
    font-size: 65px;
    background: -webkit-linear-gradient(left, #3F933A, #73C058, #BEFF7F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*************** Section detailed menus ***************/

.menu__menu-details {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 35px 10px #E2E2E2;
    font-family: "Segoe Print", serif;
    font-size: 20px;
    width: 60%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.menu__menu-details-title {
    padding-top: 15px;
    padding-bottom: 40px;
}

.menu__menu-choice {
    padding-bottom: 30px;
}

.menu__menu-details p {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding-bottom: 20px;
    padding-right: 70px;
    padding-left: 70px;
}

span {
    font-size: 20px;
    font-weight: bold;
}

/********** detailed menu note **********/

.details-note {
    background-color: #FCDFDB;
    color: #3D1319;
}

.line-left-note {
    padding-left: 70px;
}

.line-right-note {
    padding-right: 70px;
}

.details-note h4::after {
    background-color: #3D1319;
}

.dessert-note h4::after {
    height: 7%;
}

/********** detailed menu chic **********/

.details-chic {
    font-family: "Noto Serif", serif;
    background-color: #FFF5FE;
}

.line-left-chic {
    padding-left: 15px;
    width: 33%;
}

.line-right-chic {
    padding-right: 15px;
    width: 33%;
}

.details-chic p {
    font-size: 20px;
    padding-bottom: 20px;
}

.details-chic h4::after {
    height: 8%;
}

.starter-chic {
    color: #E1891D;
}

.starter-chic h4::after {
    background-color: #E1891D;
}

.dish-chic {
    color: #AF77A5;
}

.dish-chic h4::after {
    background-color: #AF77A5;
}

.dessert-chic {
    color: #A086DE;
}

.dessert-chic h4::after {
    background-color: #A086DE;
}

/********** detailed menu delice **********/

.details-delice {
    background-color: #EDEFEF;
}

.line-left-delice {
    padding-left: 30px;
    width: 33%;
}

.line-right-delice {
    padding-right: 30px;
    width: 33%;
}

.starter-delice h4::after {
    background-color: #0228DD;
    height: 3px;
}

.dish-delice h4::after {
    background-color: #2782F2;
    height: 3px;
}

.dessert-delice h4::after {
    background-color: #229DF9;
    height: 3px;
}

/********** detailed menu palette **********/

.details-palette {
    background-color: #FDFFFD;
}

.line-left-palette {
    padding-left: 30px;
    width: 35%;
}

.line-right-palette {
    padding-right: 30px;
    width: 35%;
}

.starter-palette h4::after {
    background-color: #3F933A ;
    height: 3px;
}

.dish-palette h4::after {
    background-color: #73C058 ;
    height: 3px;
}

.dessert-palette h4::after {
    background-color: #BEFF7F;
    height: 7%;
}

/*************** Footer detailed menus ***************/

.menu__menu-heading-bottom {
    display: flex;
    justify-content: center;
    padding: 40px;
}

/********** footer menu note **********/

footer .icon-note {
    width: 60px;
    padding-right: 10px;
}

.bottom-note h3 {
    font-family: Devonshire, serif;
    font-size: 40px;
}

/******************** TERMS ********************/

#terms {
    width: 80%;
    font-family: Montserrat, serif ;
    font-size: 20px;
    line-height: 1.5;
}

#terms h2 {
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#terms h2::after {
    content:"";
    display: block;
    width: 0;
    height: 2px;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

#terms h2:hover::after {
    width: 100%;
    visibility: visible;
    background-color: #569C87;
}


/******************** MEDIA QUERIES ********************/


/*************** Extra Small Devices ***************/

@media screen and (min-width: 320px) {

    h1 {
        font-size: 50px;
    }

    #menus {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .menus__menu-item {
        margin: 0 0 30px;
        height: 380px;
    }

    .zoom:hover {
        transform: scale(1.1);
    }

    #soon {
        width: 270px;
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .dots {
        font-size: 25px;
    }

    .main-footer {
        margin-top: 60px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer__button {
        font-size: 16px;
    }


}

/*************** Small Devices ***************/

/*@media screen and (max-width: 767px) {

}*/

/*************** Medium Devices ***************/

/*@media screen and (max-width: 991px) {

}*/

/*************** Large Devices ***************/

/*@media screen and (max-width: 1199px) {

}*/






